<div class="footer-row">
  <div class="footer-block footer__about">
    <p>南阳理工学院-计算机与信息化处理协会是由南阳理工学院在校的 GNU/Linux 爱好者发起并组成的团体，旨在搭建信息交流共享的平台，宣传自由软件的价值，提高自由软件社区文化氛围，推广自由软件的应用。</p>
    <p>感谢 <a href="https://lug.ustc.edu.cn/"><b>USTC LUG</b></a> 为本站提供的主题模版。</p>
  </div>

  <div class="footer-block footer__extras">
    <div class="footer__contact">
      <ul>
        <li>
          <a href="/wiki/intro/"><i class="fad fa-fw fa-address-card"></i> 关于我们</a>
        </li>
        <li>
          <a href="/wiki/cips/contact/"><i class="fas fa-fw fa-phone-alt"></i> 联系我们</a>
        </li>
        <li>
          <a href="/wiki/cips/contribute/"><i class="fad fa-fw fa-users"></i> 加入我们</a>
        </li>
        <li>
          <a href="/feed/"><i class="fad fa-fw fa-rss" style="--fa-secondary-opacity: 0.6;"></i> RSS 订阅</a>
        </li>
        <li>
          <a href="https://github.com/{{ site.repository }}"><i class="fab fa-fw fa-github"></i> 本站仓库</a>
        </li>
      </ul>
    </div>

    <div class="footer__logo">
      <div class="footer__logo-image">
        <img src="/static/logo.png" />
      </div>
      <div class="footer__logo-text">
        <!-- a href="http://www.beian.miit.gov.cn" target="_blank">皖ICP备05002528号</a -->
      </div>
    </div>
  </div>
</div>