---
title: "CIPS @ NYIST"
excerpt: "南阳理工学院-计算机与信息化处理协会"
tagline: "南阳理工学院-计算机与信息化处理协会"
permalink: /
layout: splash
header:
  overlay_image: "/static/splash/nyist-1.jpg"
  overlay_filter: 0.25
  actions:
    - label: 了解更多
      url: /wiki/intro/
---

<nav class="lug-nav">
  <div class="nav-left">
    <div class="link-group">
      <div class="link-group-row">
        <a href="https://mirror.nyist.edu.cn/" class="bg-microsoft-red">
          <i class="fab fa-linux fa-5x" aria-hidden="true"></i>
          <span>开源镜像站</span>
        </a>
        <a href="https://iptv.nyist.edu.cn/" class="bg-microsoft-green">
          <i class="fad fa-tv fa-5x" aria-hidden="true"></i>
          <span>IPTV</span>
        </a>
      </div>
      <div class="link-group-row">
        <a href="https://pxe.nyist.edu.cn/" class="bg-microsoft-blue">
          <i class="fas fa-compact-disc fa-5x" aria-hidden="true"></i>
          <span>PXE</span>
        </a>
        <a href="/wiki/cips/services" class="bg-microsoft-yellow">
          <i class="fas fa-chevron-circle-right fa-5x" aria-hidden="true"></i>
          <span>更多服务</span>
        </a>
      </div>
    </div>
  </div>
  <div class="nav-right">
    <div class="description">
      <p>
        南阳理工学院-计算机与信息化处理协会是由南阳理工学院在校的 GNU/Linux 爱好者发起并组成的团体,旨在搭建信息交流共享的平台,宣传自由软件的价值,提高自由软件社区文化氛围,推广自由软件的应用。
      </p>
      <p>
        当前,由协会正在建设和运维管理的物理服务器集群8台,大型高性能集群一个,约提供高达150TB的高性能存储空间,大多数数字基建应用部署基于这些硬件设施。协会不会将活动发展范围设限于计算机与软件学院,而是面向全校各学院各专业,共同交流协作,促进各行业中的信息化应用发展,同时协助信息化建设与管理中心帮助学校各单位进行信息化转型,协会也因此使命得名：计算机与信息化处理协会。
      </p>
    </div>
    <div class="link-group">
      <div class="link-group-row">
        <a href="/wiki/cips/events/calendar" class="fg-microsoft-red">
          <i class="fad fa-calendar-alt fa-5x" aria-hidden="true"></i>
          <span>活动日历</span>
        </a>
        <a href="/wiki/cips/contact" class="fg-microsoft-green">
          <i class="fad fa-comments fa-5x" aria-hidden="true"></i>
          <span>联系我们</span>
        </a>
      </div>
      <div class="link-group-row">
        <a href="/wiki/cips/finance/donate" class="fg-microsoft-blue">
          <i class="fad fa-thumbs-up fa-5x" aria-hidden="true"></i>
          <span>捐赠我们</span>
        </a>
        <a href="/wiki/cips/links" class="fg-microsoft-yellow">
          <i class="fad fa-link fa-5x" aria-hidden="true"></i>
          <span>友情链接</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="archive-group">
  <div class="archive-group__item">
    <h3 class="archive__subtitle">
      <a href="{{ "/news/" | relative_url }}">最新文章</a>
    </h3>
    {%- comment %} Don't concat planet as it may require auditing by tw. {% endcomment -%}
    {% assign posts = site.news | sort: 'date' | reverse %}
    {% for post in posts limit: 5 %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>
